<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>923026158856-phlhjfuaj42776n0u1vtlbv2453k9137.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.923026158856-phlhjfuaj42776n0u1vtlbv2453k9137</string>
	<key>API_KEY</key>
	<string>AIzaSyAEAoIZQmAd0zRRIQYvSpAN-_tOKjOwp6k</string>
	<key>GCM_SENDER_ID</key>
	<string>923026158856</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jmam.InstagramFirestoreTutorial</string>
	<key>PROJECT_ID</key>
	<string>instagramclone-73e93</string>
	<key>STORAGE_BUCKET</key>
	<string>instagramclone-73e93.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:923026158856:ios:6ff900dfc2af3f5bcee8bd</string>
</dict>
</plist>